<section id="hero" class="hero-section d-flex align-items-center text-center">
    <div class="container">

        <h1 class="display-4 fw-bold text-white">
            Personalized Diet & Calorie Management
        </h1>

        <p class="lead text-light mt-3">
            Track BMI, calories and build a healthier lifestyle.
        </p>

        <a href="{{ url_for('login', next=url_for('dashboard')) }}" class="btn btn-success btn-lg mt-4 px-4">
            Get Started
        </a>


    </div>
</section>